html,
body {
  margin: 0;
  padding: 0;
  background: transparent
}
canvas {
  display: block;
  border:transparent'
}
#colorClock {
  top:0%;
  left:0%;
  position: absolute;
  border-radius: 50%;
  border: 10px solid transparent
}
