<!DOCTYPE html>
<html>

<head>
    <link href="https://melonking.net/styles/flood.css" rel="stylesheet" type="text/css" media="all" />
    <script src="https://melonking.net/scripts/flood.js"></script>
    <script src="/site/scripts/goo.js"></script>
    <link href="/site/style.css" rel="stylesheet" type="text/css" media="all" />
    <title>Beans!</title>
    <link rel="icon" href="/site/assets/goober.svg" type="image/x-icon">
</head>

<body>
    <center>
        <div class="stuffonshelf"><iframe src="https://greenfenix414.github.io/site/webgarden/webgarden.html"
                height="250px" width="250px" scrolling="no" loading="lazy"></iframe></div><img class="shelf">
    </center>
</body>

</html>